body{
    height:300px;
}
:root {
    --main-color: #FF9800;
  }

.heading2{
    margin-bottom:50px;
    color:var(--main-color);
}

.paragraph{
    line-height: 1.8;
    font-size: 15px;
    color: darkgrey;
}

@mixin cover{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

@mixin overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
}

@mixin transition{
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

/*start setting*/

.setting-box{
    position:fixed;
    top:0;
    left:-200px;
    min-height:200vh;
    width:200px;
    z-index:1031;
    background:#FFF;
    border:2px solid #EEE;
    color:black;
    @include transition;

    .icon{
        position: absolute;
        right: -40px;
        top: 100px;
        font-size: 25px;
        background: #FFF;
        width: 30px;
        height:30px;
        cursor:pointer;
    }

    @media(max-width:767px) {

        .icon{
            width: 40px;
            height:40px;
        }

        i{
            font-size:35px;
        }
    }

    .setting-cont{
        h3{
            @extend .heading2;
            margin:50px 0 20px;
        }
    
        ul{
            li{
                width: 20px;
                height: 20px;
                background: #333;
                border-radius: 50%;
                display:inline-block;
                cursor:pointer;
                opacity: .3;
            }
    
            li.active{
                opacity: 1;
            }

            li:first-of-type{
                background:#FF9800;
            }
        
            li:nth-child(2){
                background:dodgerblue;
            }
            li:nth-child(3){
                background:red;
            }
            li:last-of-type{
                background:#ff2fcb;
            }
        }

        .option-box{

            h3{           
                font-size: 15px;
                font-weight: bold;
            }
                button{
                    opacity:.5;
                    background:var(--main-color);
                    color:#FFF;
                }
                button.active{
                    opacity:1;
                }
        }
    }

    .reset-option{
        margin-top: 30px;
        width: 80%;
    }   
}

.open{
    left:0;
}

/*end setting*/

/*start nav bullet*/

.nav-bullet{
    position:fixed;
    right:2px;
    top:50%;
    width:150px;
    height: 100px;
    z-index:1000;
    transform:translateY(-50%);

    .bullet{
        position:absolute;
        top:3px;
        right:25px;;

        li{
            width: 20px;
            height: 20px;
            border: 2px solid var(--main-color);
            background:#FFF;
            border-radius: 50%;
            margin-bottom: 10px;
            cursor: pointer;
            @include transition;

            &:hover{
                background:var(--main-color);
            }
        }
        li.active{
            background:var(--main-color);
        }
    }

    .bullet-content{
        position: absolute;

        li{
            background:var(--main-color);
            color:#FFF;
            margin-bottom: 2px;
            padding: 4px;
            width: 90px;
            border-radius: 5px;
            text-align: center;
            visibility: hidden;
        }
    }
}

/*end nav bullet*/

/*start landing page*/

.landing{
    background:url('../imgs/1.jpg');
    @include cover;
    color:#FFF;
    position: relative;

    @media(max-width:767px) {

        &{
            height:200px !important;
        }
    
    }

    .overlay{
        @include overlay;
    }

    a{
        span{
            color:var(--main-color);
            font-size:25px;
        }
    
        @media(max-width:767px){
            &{
                font-size:15px;
            }
        }
    }

    .nav{
        li{
            a{
                @include transition;
                cursor:pointer;

                &:hover{ 
                    color:var(--main-color);
                }

                &.active{
                    color:var(--main-color);
                }

                @media(max-width:767px){
                    &{
                        font-size:25px;
                    }
                }
            }
        }
    }

    .contnet{
        position: absolute;
        top:50%;
        left:50%;
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);    

        h1{
            span{
                color:var(--main-color);
                font-size:25px;
            }
        }

        p{
            font-size:20px;
            margin:20px 0;
        }

        @media(max-width:767px) {
            h1{
                font-size:33px;
            }
            p{
                font-size:15px;
            }   
        }
    }
}

/*end landing page*/

/*start about us*/

.about-us{
    padding:50px 0;

    @media(max-width:767px) {
        
        &{
            padding:20px 0;
            text-align:center;
        }

        h2{
            margin:20px 0 !important;
            text-align:center;
        }

        p{
            width:70%;
            margin:auto;
            font-size:20px;
        }
    }


    @media(max-width:767px) { 
        img{
            display:none;
        }
        
    }

    h2{
        @extend .heading2;
        margin:60px 0 50px;
    }

    p{
        @extend .paragraph;
    }
}

/*end about us*/

/*start our-progress*/

.our-progress{
    background:#eee;
    
    @media (max-width:767px) {
        
        &{
            text-align:center;
        }

        h3{
            margin-bottom:10px !important;
        }

        .progress{
            margin-bottom:20px !important;
        }
    }

    h2{
        @extend .heading2;
    }

    h3{
        margin:0;
        font-weight:bold;
    }

    .skills-content{
        overflow: hidden;
        background: #FFF;
        margin-bottom: 15px;
        padding-top:5px;

        .progress{
            height:30px;
            margin-bottom:10px;

            .progress-bar{
                @include transition;

                span{
                    color: #FFF;
                    line-height: 30px;
                    font-size: 15px;
                    font-weight: bold;                
                }
            }
        }
    }
}

/*end our-progress*/

/*start gallery*/

.gallery{
    padding:50px 0;

    @media (max-width:767px) {

        &{
            padding:20px 0;
        }

        .col-xs-5 {
            width:40% !important;
        }
        .row{
            padding-left:100px;
        }
    }

    h2{
        @extend .heading2;
    }

    .col-md-3{
        width:20%;
    }

    .images{
        margin-bottom:10px;
        
        img{
            cursor:pointer;
        }
    }

}

.popup-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);
    z-index:1032;
}

.pop-div{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#FFF;
    border:1px solid #CCC;
    padding:20px;
    z-index:1033;
    
    img{
        max-width:100%;
    }

    .imageheading{
        color:var(--main-color);
        text-align:center;
    }

    .closepopdiv{
        position:absolute;
        top:0;
        right:0;
        width:35px;
        height:30px;
        line-height:30px;
        text-align:center;
        font-size:20px;
        border-radius:50%;
        background:var(--main-color);
        cursor:pointer;
    }
}
/*end gallery*/

/*start feature*/

.feature{
    padding:50px 0;
   
    @media (max-width:767px) {

        &{
            padding:20px 0;
        }

        h2{
            margin-bottom:20px;
        }

        .thumbnail{
            margin-bottom:0;
        }
    }

    h2{
        @extend .heading2;
    }

    .thumbnail{
        border:0;
    
        .caption{

            h3{
                font-weight:bold;
                margin:20px 0 5px;
            }

            .line{
                display:block;
                width:30px;
                height:3px;
                background:var(--main-color);
                margin:auto;
            }

            p{
                @extend .paragraph;
                margin-top: 10px;
            }
        }
    }
}

/*end feature*/

/*start testimonial*/

.testimonial{
    padding:50px 0;
    position: relative;

    &:after{
        position:absolute;
        content: '';
        top:0;
        left:0;
        width:50%;
        height:100%;
        background:var(--main-color);
    }

    &:before{
        position:absolute;
        content: '';
        top:0;
        right:0;
        width:50%;
        height:100%;
        background:#333;
    }

    @media (max-width:767px) {

        &{
            padding:20px 0;
        }

        h2{
            margin-bottom:20px;
            text-align:center;
        }

        .info{
            overflow:hidden;
            position:relative;

            &:after{
                position: absolute;
                left:50%;
                bottom:0;
                transform:translateX(-50%);
                content:'';
                width:70%;
                height:2px;
                background:#333;
            }
        }

        .info-last:after{
            content:none;
        }

        p,.media{
            width:50%;
            float:left;
        }

        p{
            margin-top:20px;
        }
    }

    h2{
        position: relative;
        @extend .heading2;
        color:#fff;
        z-index:2;
    }

    p{
        @extend .paragraph;
        font-style: italic;  
    }

    .info{
        background:#fff;
        position: relative;
        z-index:2;
        border-radius:4px;
        padding:10px;

        .media{
        
            .media-heading{
                margin-top:15PX;
            }
    
            .media-body{
    
                p{
                    font-style:normal;
                }
            }
        }
    }
}

/*end testimonial*/

/*start contact us*/

.contact-us{
    padding:50px 0;
    background:url('../imgs/contact.png');
    @include cover;

    
    @media (max-width:767px) {

        &{
            padding:20px 0;
        }
            
        h2{
        margin-bottom:20px;
        }
    }

    .overlary{
        @include overlay;
        background:rgba(255,255,255,.6);
    }

    h2{
        @extend .heading2;
    }

    .form-control{
        box-shadow:none;
        border:0; 
    }

    input:not([type='submit']){
        margin-bottom: 20px;
        width: 80%;
    }

    textarea{
        width: 80%;
        height: 147px;
        margin-bottom: 16px;
        resize:none;
    }

    input:not([type='submit']):focus,
    textarea:focus{
        border: 1px solid var(--main-color);
        border-radius: 10px;   
    }

    input:not([type='submit']):focus::-webkit-input-placeholder,
    textarea:focus::-webkit-input-placeholder{
        opacity:0;
        @include transition;
    }

    input:not([type='submit']):focus::placeholder,
    textarea:focus::placeholder{
        opacity:0;
        @include transition;
    }

    input[type='submit']{
        width: 80%;
        color: #FFF;
        background: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}

/*end contact us*/

/*Start footer*/

.footer{
    padding:30px 0;
    background:#333;
    color:#FFF; 

    p{
        font-weight: bold;
        letter-spacing: 1.5px;
        color: var(--main-color);
    }
}
/*end footer*/